<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse report-bg">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Dashboard</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="" ng-click="executar()"><i class="fa fa-play" aria-hidden="true"></i> Executar <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href=""><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <main class="col-sm-12 pt-3">
            <div class="ace-content">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href ng-click="vm.clickTab(0)" ng-class="{'active' : chooseTab == 0}">page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href ng-click="vm.clickTab(1)" ng-class="{'active' : chooseTab == 1}">helper</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href ng-click="vm.clickTab(2)" ng-class="{'active' : chooseTab == 2}">data</a>
                    </li>
                </ul>
                <div class="ace-html" ng-class="{'display-none' : !(chooseTab == 0)}" ng-cloak>
                    <textarea id="html"></textarea>
                </div>
                <div class="ace-javascript" ng-class="{'display-none' : !(chooseTab == 1)}" ng-cloak>
                    <textarea id="javascript"></textarea>
                </div>
                <div class="ace-json" ng-class="{'display-none' : !(chooseTab == 2)}" ng-cloak>
                    <textarea id="json"></textarea>
                </div>
            </div>
            <div class="show-pdf">
                <object data="{{content}}" type="application/pdf" ng-if="$root.content"></object>
                <div class="without-pdf" ng-if="!$root.content">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <br>Sem resultado
                </div>
            </div>
        </main>
    </div>
</div>