<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">DocGen Report</a>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href ng-click="vm.executar()"><i class="fa fa-play" aria-hidden="true"></i> Executar <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href ng-click="vm.saveFiles()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Report</a>
</nav>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse report-bg">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="" ng-click="vm.executar()"><i class="fa fa-play" aria-hidden="true"></i> Executar <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href ng-click="vm.saveFiles()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href ng-click="vm.restApi()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Test rest <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
            <a href class="my-2 my-sm-0 button-create-project" create-new-project><i class="fa fa-plus-square" aria-hidden="true"></i> Novo projeto</a>
        </form>
    </div>
</nav> -->
<div class="container-fluid">
    <div class="row">
        <main class="col-lg-7 pt-3">
            <div class="ace-content">
                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <a class="nav-link" href ng-click="vm.clickTab(0)" ng-class="{'active' : chooseTab == 0}">page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href ng-click="vm.clickTab(1)" ng-class="{'active' : chooseTab == 1}">helper</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href ng-click="vm.clickTab(2)" ng-class="{'active' : chooseTab == 2}">data</a>
                    </li>
                    <!-- <li class="nav-item dropdown show">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    </li> -->
                    <div class="dropdown">
                        <li class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{vm.dropdownName}} <i class="fa fa-plus" aria-hidden="true"></i>
                        </li>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href ng-click="vm.clickTab(3)">Header</a>
                            <a class="dropdown-item" href ng-click="vm.clickTab(4)">Footer</a>
                        </div>
                    </div>
                </ul>
                <div class="ace-editor" ng-class="{'display-none' : !(chooseTab == 0)}" ng-cloak>
                    <textarea id="html"></textarea>
                </div>
                <div class="ace-editor" ng-class="{'display-none' : !(chooseTab == 1)}" ng-cloak>
                    <textarea id="javascript"></textarea>
                </div>
                <div class="ace-editor" ng-class="{'display-none' : !(chooseTab == 2)}" ng-cloak>
                    <textarea id="json"></textarea>
                </div>
                <div class="ace-editor" ng-class="{'display-none' : !(chooseTab == 3)}" ng-cloak>
                    <textarea id="header"></textarea>
                </div>
                <div class="ace-editor" ng-class="{'display-none' : !(chooseTab == 4)}" ng-cloak>
                    <textarea id="footer"></textarea>
                </div>
            </div>
        </main>
        <div class="col-lg-5 show-pdf">
            <ul class="nav nav-tabs justify-content-end">
                <li class="nav-item">
                    <a href="" class="nav-link active">Pré-visualizar</a>
                </li>
            </ul>
            <object data="{{pdf}}" type="application/pdf" ng-if="pdf"></object>
            <div class="without-pdf" ng-if="!pdf">
                <div ng-show="!vm.loading.generate_pdf">
                    <i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i>
                    <br>Sem resultado
                </div>
                <div ng-show="vm.loading.generate_pdf" class="">
                    <i class="fa fa-file-pdf-o faa-pulse animated fa-3x" aria-hidden="true"></i>
                    <br>Gerando pdf
                </div>
            </div>
        </div>
    </div>
</div>