<!-- <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse report-bg">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Dashboard</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav my-2 my-md-0">
            <li class="nav-item active">
                <a class="nav-link" href="" ng-click="vm.createNewProject()"><i class="fa fa-plus-square" aria-hidden="true"></i> Criar novo projeto<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav> -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            
        </ul>
        <form class="form-inline my-2 my-md-0">
            <button class="btn btn-outline-success my-2 my-sm-0" ng-click="vm.createNewProject()"><i class="fa fa-plus-square" aria-hidden="true"></i> Criar novo projeto</button>
        </form>
    </div>
</nav>
<div class="container-fluid" class="modal-demo">
    <div class="show-projects">
        <div class="col-sm-12 pt-3 center">
            <h1>Todos os projetos</h1>
        </div>
        <div class="row view-projects">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 project center" ng-repeat="project in vm.projects">
                <i class="fa fa-file-text" aria-hidden="true"></i>
                <h3><a ui-sref="app({projectId:project.url})">{{project.name}}</a></h3>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="modal.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Criar um novo projeto</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Qual o nome do seu projeto?</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nome do projeto" ng-model="projectName">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close(projectName)" class="btn btn-primary" data-dismiss="modal" ng-disabled="!projectName">Criar</button>
                </div>
            </div>
        </div>
    </div>
</script>