<!DOCTYPE html>
<html lang="en" ng-app="jsReportingApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Starter Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="./css/styles.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="./bower_components/bootswatch/paper/bootstrap.min.css" /> -->
    <!-- <link rel="stylesheet" href="./bower_components/angular-filemanager/dist/angular-filemanager.min.css"> -->
</head>

<body>
    <!-- <div class="ace-content">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href ng-click="chooseTab = 0;" ng-class="{'active' : chooseTab == 0}">page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href ng-click="chooseTab = 1;" ng-class="{'active' : chooseTab == 1}">helper</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href ng-click="chooseTab = 2;" ng-class="{'active' : chooseTab == 2}">data</a>
                        </li>
                    </ul>
                    
                    <div class="ace-html" ng-class="{'display-none' : !(chooseTab == 0)}" ng-cloak>
                        <textarea id="html"></textarea>
                    </div>
                
                    <div class="ace-javascript" ng-class="{'display-none' : !(chooseTab == 1)}" ng-cloak>
                        <textarea id="javascript"></textarea>
                    </div>
                    
                    <div class="ace-json" ng-class="{'display-none' : !(chooseTab == 2)}" ng-cloak>
                        <textarea id="json"></textarea>
                    </div>
                </div>
                <div class="show-pdf">
                    <object data="{{content}}" type="application/pdf" ng-if="$root.content"></object>
                    <div class="without-pdf" ng-if="!$root.content">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        <br>Sem resultado
                    </div>
                </div> -->
    <ui-view></ui-view>
    <!-- <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top con">
        <div class="container">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills float-right">
                        <li class="nav-item">
                            <a class="nav-link active" href>Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href>About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href>Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>*
        </div>
    </nav>
    <div class="">
        <pre id="editor"></pre>
        <div id="statusBar">ace rocks!</div>
    </div> -->
    <!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>
    <!-- <script src="./bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="./bower_components/angular-filemanager/dist/angular-filemanager.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="./js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./js/ie10-viewport-bug-workaround.js"></script>
    <!-- ACE -->
    <script src="./js/src/ace.js"></script>
    <!-- load ace themelist extension -->
    <script src="./js/src/ext-themelist.js"></script>
    <script>
    // create first editor
    /*var javascript = ace.edit("javascript");
    javascript.setTheme("ace/theme/twilight");
    javascript.session.setMode("ace/mode/javascript");
    javascript.renderer.setScrollMargin(10, 10);
    javascript.setOptions({
        // "scrollPastEnd": 0.8,
        autoScrollEditorIntoView: true
    });

    var json = ace.edit("json");
    json.setTheme("ace/theme/twilight");
    json.session.setMode("ace/mode/javascript");
    json.renderer.setScrollMargin(10, 10);
    json.setOptions({
        // "scrollPastEnd": 0.8,
        autoScrollEditorIntoView: true
    });

    var html = ace.edit("html");
    html.setTheme("ace/theme/twilight");
    html.session.setMode("ace/mode/html");
    html.renderer.setScrollMargin(10, 10);
    html.setOptions({
        // "scrollPastEnd": 0.8,
        autoScrollEditorIntoView: true
    });*/
    </script>
    <!-- <script src="./js/show_own_source.js"></script> -->
    <script src="./js/app.js"></script>
    <!-- Controllers -->
    <script src="./app/show_projects/show_projects.controller.js"></script>
    <script src="./app/app/app.controller.js"></script>
</body>

</html>