@import 'bootstrap/bootstrap';
@import 'font-awesome/font-awesome';

body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}



/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
}




/*
 * Typography
 */

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}




/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px !important;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}




/* Sidebar navigation */

.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item+.nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}




/*
 * Dashboard
 */


/* Placeholders */

.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.report-bg {
    background: #555555 !important;
}

.ace_editor {
    position: relative !important;
    border: 1px solid lightgray;
    margin: auto;
    height: 200px;
    width: 80%;
}

.ace_editor.fullScreen {
    height: auto;
    width: auto;
    border: 0;
    margin: 0;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.fullScreen {
    overflow: hidden
}

.scrollmargin {
    height: 500px;
    text-align: center;
}

object {
    width: 100%;
    height: 400px;
}